.container__timer {
    height: auto;
    margin-top: 1rem;
}

.launch-time {
    font-weight: bold;
    text-align: center;
    display:flex;
    justify-content: center;
}

.launch-time div {
    width: 7rem;
    padding: 15px;
}

.launch-time div p {
    font-size: 60px;
}

/* ======== MEDIA QUERIES (SMALL DEVICES) ============ */
@media screen and (max-width: 670px) {
    .launch-time div {
        width: 5.5rem;
    }
    .launch-time div p {
        font-size: 40px;
    }
}