.container__cta {
    text-align: center;
    text-justify: auto;
    width: 100%;
}

.container__cta p {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.container__cta a {
    color: var(--color-light);
    background: var(--color-highlight);
    font-size: 1.3rem;
    padding: 0.5rem 1.5rem;
    width: fit-content;
    border-radius: 1rem;
    transition: var(--transition);
    border: 1px solid transparent;
}

.container__cta a:hover {
    border-color: var(--color-dark);
    color: var(--color-dark);
    background: transparent;
}